.case-studies-inner-page {
  background: black;

  padding: 60px;
  position: relative;

  margin-bottom: 30px;

  border-bottom: 2px solid #8181811f;
}

.case-studies-inner-page-header {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-bottom: 30px;
}

.head-text {
  color: white;
}

.inner-page-banner-image {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/images/caseStudies/kaa.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.811) 70%, transparent 100%);

  overflow: hidden;

  border-radius: 10px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    position: relative;
    z-index: 1;
  }

  .inner-page-banner-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }


}

.inner-page-banner-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  padding: 24px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.left p {
  margin: 0;
  color: white;
}

.banner-arrow {
  width: 48px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);

  border-radius: 8px;

  color: white;
  font-size: 28px;
  line-height: 1;

  transition: all 0.3s ease;
}

.banner-arrow:hover {
  transform: translateY(-2px);
  background: rgba(255, 255, 255, 0.12);
}


@media (max-width: 768px) {
    .case-studies-inner-page {
        padding: 60px 15px;
    }

    .case-studies-inner-page-header {
        padding: 30px 15px;
        margin-bottom: 20px;
        text-align: center;
    }

    .inner-page-banner-image {
        height: 400px;
    }

    .inner-page-banner-content {
        padding: 20px;
    }

    .banner-arrow {
        width: 40px;
        height: 40px;
        font-size: 24px;
    }
}