.what-we-do {
    padding: 60px 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 48px;
}

.what-we-do-left{
    width: 45%;
    height: 50vh;
    background-color: aliceblue;

    border-radius: 10px;
}

.what-we-do-right{
    width: 55%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 60px 0px;
}